/yahtzee/build/
/Hangman/build/
/LatinConverter/nbproject/private/
/LatinConverter/build/
/DiceRoller/nbproject/private/
/DiceRoller/build/
/tictactoeNB/nbproject/private/
/tictactoeNB/build/
/tictactoeNB/dist/
/TicTacToeRedo/nbproject/private/
/TicTacToeRedo/build/
/colorTest/nbproject/private/
/colorTest/build/
/mouseAndGraphics/nbproject/private/
/mouseAndGraphics/build/
/Ball/nbproject/private/
/Ball/build/
/motionParallax/nbproject/private/
/motionParallax/build/
/motionParallax/dist/
/sqldemo/nbproject/private/
/sqldemo/build/
/SQLTest2/nbproject/private/
/SQLTest2/build/
/SelectApp/nbproject/private/
/SelectApp/build/
/frogger/nbproject/private/
/frogger/build/
/ArrayListExample/nbproject/private/
/ArrayListExample/build/